<!DOCTYPE html>
<html lang="en">
  <head>
    <title>$title$</title>

    <meta charset="utf-8">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="$desc$">
    $if(author)$
    <meta name="author" content="$author$">
    $endif$
    $if(keywords)$
    <meta name="keywords" content="$keywords$">
    $endif$

    <meta property="og:site_name" content="$siteName$">
    <meta property="og:title" content="$title$">
    <meta property="og:url" content="$root$$url$">
    <meta property="og:description" content="$desc$">
    $if(image)$
    <meta property="og:image" content="$root$$image$">
    $endif$
    $if(type)$
    <meta property="og:type" content="$type$">
    $else$
    <meta property="og:type" content="website">
    $endif$

    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:site" content="$siteName$">
    <meta property="twitter:title" content="$title$">
    <meta property="twitter:description" content="$desc$">
    $if(image)$
    <meta property="twitter:image" content="$root$$image$">
    $endif$
    $if(authorTwitter)$
    <meta property="twitter:creator" content="$authorTwitter$">
    $endif$

    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="canonical" href="$root$$url$">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;600&display=swap" rel="stylesheet">
    <!-- CSS
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="/css/default.css" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/skeleton.css" />
    <link rel="stylesheet" href="/css/code.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <h1>λ Leo . Qiao</h1>
        <!-- <h1>Q</h1> -->
        <div class="menu">
          <a class="menu-item" href="/">About</a>
          <a class="menu-item" href="/writings.html">Writings</a>
        </div>
      </div>
    </header>

    <div class="container">
      <hr>
    </div>

    <main>
      <div class="container">
        $body$
      </div>
    </main>

    <!-- <div class="container"> -->
    <!--   <hr> -->
    <!-- </div> -->
    <!---->
    <!-- <footer> -->
    <!--   <div class="container"> -->
    <!--     <p>Created by Leo Qiao.</p> -->
    <!--   </div> -->
    <!-- </footer> -->

    <!-- Scripts
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script async src="/js/script.js"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  </body>
</html>
